PUBLIC_WHATSAPP_NUMBER=542804603303
PUBLIC_INSTAGRAM_URL=https://www.instagram.com/estarseguro.ar/
PUBLIC_SAN_CRISTOBAL_URL=https://www.sancristobal.com.ar/pas/estarseguro/cotizar
PUBLIC_LINKEDIN_GASTON_URL=https://www.linkedin.com/in/gaston-arias-54bb35372/
PUBLIC_LINKEDIN_MELISA_URL=https://www.linkedin.com/in/valeria-melisa-millapinda-321448375/
